.list-group-item label {
    width: 80%;
}

.container .row .panel,
.container .row .panel .panel-heading,
.container .row .panel .panel-body {
    //min-width: 350px;
    
}
.list-group {
    //min-width: 300px;
}

#block-menu-tree, #menu-tree, #block-form-info {
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}

#block-menu-tree-aux {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;
}

.jstree-container-ul {
    max-height: 132px !important;
    overflow: auto;
}

#btn-menu-new-sibling .pull-left {
    padding-right: 10px;
}

#btn-menu-new-sibling .pull-right .btn-group label {
    font-size: .5em;
}

#btn-menu-new-sibling .pull-right .btn-group label.active {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    color: #000000;
}

.glyphicon-tree-use {
    vertical-align: 1px !important;
    text-indent: -5px;
}