a, a:hover, a:active, a:focus, object, embed, input::-moz-focus-inner {
    outline: 0 !important;
}

.table tbody tr td {
    line-height: 100%;
    vertical-align: middle;
}

.pagination li a {
    cursor: pointer;
}

.glyphicon-lg{font-size:3em}
.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-color:#357EBD;}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF;}
.blockquote-box.blockquote-primary a{color:#428BCA;}
.blockquote-box.blockquote-primary ul li{color:#428BCA;}
.blockquote-box.blockquote-success{border-color:#4CAE4C;}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF;}
.blockquote-box.blockquote-success a{color:#5CB85C;}
.blockquote-box.blockquote-success ul li{color:#5CB85C;}
.blockquote-box.blockquote-info{border-color:#46B8DA;}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF;}
.blockquote-box.blockquote-info a{color:#5BC0DE;}
.blockquote-box.blockquote-info ul li{color:#5BC0DE;}
.blockquote-box.blockquote-warning{border-color:#EEA236;}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF;}
.blockquote-box.blockquote-warning a{color:#F0AD4E;}
.blockquote-box.blockquote-warning ul li{color:#F0AD4E;}
.blockquote-box.blockquote-danger{border-color:#D43F3A;}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF;}
.blockquote-box.blockquote-danger a{color:#D9534F;}
.blockquote-box.blockquote-danger ul li{color:#D9534F;}

optgroup {
    font-size: 14px;
    text-indent: 15px;
}
optgroup {
    padding: 5px;
    border-top: 1px solid #ddd;
}
optgroup option {
    text-indent: 30px;
    padding: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.glyphicon {
    top: 2px;
    left: 1px;
}

.pagination .active a {
    background-color: #C1C1C1;
}

/* BRAND */
.navbar-brand {
    margin-top: 8px;
}
/* DEVERIA ESTAR NO THEME */
.navbar-brand, .brand {
    background-size: 45px;
    text-indent: -9999px;
    height: 32px;
    width: 48px;
}

.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}

.panel {
    clear: both;
}

.margin-left-xs {
    margin-left: 1%;
}
.margin-left-sm {
    margin-left: 3%;
}
.margin-left-lg {
    margin-left: 5%;
}
.margin-right-xs {
    margin-right: 1%;
}
.margin-right-sm {
    margin-right: 3%;
}
.margin-right-lg {
    margin-right: 5%;
}
.margin-bottom-xs {
    margin-bottom: 1%;
}
.margin-bottom-sm {
    margin-bottom: 3%;
}
.margin-bottom-lg {
    margin-bottom: 5%;
}
.margin-top-xs {
    margin-top: 1%;
}
.margin-top-sm {
    margin-top: 3%;
}
.margin-top-lg {
    margin-top: 5%;
}

.has-changed .help-block, .has-changed .control-label {
    color: #ff851b;
}
.has-changed .form-control, .has-changed .form-control:focus, .has-changed.form-control {
    border: 1px solid #ff851b;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075) inset;
}

/* JS TREE */
/*.jstree-open > .jstree-icon:before {
    content: "\2212";
}
.jstree-closed > .jstree-icon:before {
    content: "\2b";
}
.jstree-open > .jstree-icon, .jstree-closed > .jstree-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}*/